Body {
      background-color: #08caec;
      font-family: Arial, sans-serif;
      border: solid 5px;
      text-align: center;
}

h1 {
     margin:0px;
     font-size: 36px;
}

h2 {
     margin: 20px0px;
     font-size: 14px;
}

Img {
       margin: 20px auto;
}